@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');

body, h1, h2, ul, li, p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0f0e17;
}

/* TWEET */

.tweets {
  max-width: 900px;
  margin: 100px auto 0 auto;
}

.tweet {
  padding: 20px 20px;
  background-color: #0f0e17;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 4px rgba(0,0,0,.1), 0px 4px 10px rgba(0,0,0,.2) ;
  margin-bottom: 40px;
}

.user-avatar {
  border-radius: 50%;
  width: 60px;
  border: 3px solid #ff8906;
}

.tweet-info {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.user-name {
  font-family: 'Cabin', sans-serif;
  color: #fffffe;
  font-weight: bold;
}

.user {
  font-family: 'Cabin', sans-serif;
  color: #fffffe;
}

.tweet-message {
  font-family: 'Cabin', sans-serif;
  color: #a7a9be;
}